.newtodo__form {
  width: 100%;
  padding: 2rem 0;
}
.newtodo__wrapper {
  display: flex;
  width: 80%;
  margin: 0 auto;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3), -1px -1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    width: 60%;
  }
}
.newtodo__input {
  width: 100%;
  padding: 1rem;
  border-radius: 2px;
  border: 2px solid transparent;
  outline: 1px solid transparent;
  background-color: #faffff;
  &:focus {
    border: 2px solid transparent;
    transition: border 0.3s ease-in;
    background-color: #f0f2f4;
  }
}
.newtodo__button {
  padding: 0.5rem 1rem;
  border: 2px solid transparent;
  color: rgb(0, 44, 40);
  letter-spacing: 2px;
  cursor: pointer;
  &:hover {
    transition: background-color 0.3s ease-in;
    background-color: #d2dae2;
  }
}

.newtodo__button_disabled {
  padding: 0.5rem 1rem;
  background-color: rgb(214, 214, 214);
  border: none;
  color: rgb(141, 141, 141);
  letter-spacing: 1px;
  border-radius: 2px;
}
