.header__container {
  width: 100vw;
  height: 60px;
  position: sticky;
  background-color: #001c48e6;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  z-index: 1;
  @media screen and (min-width: 768px) {
    padding: 0 3rem;
  }
}
.header__logo {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  &:visited {
    color: #fff;
  }
}
.navbar__small {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin: 0 1rem 0 0;
  cursor: pointer;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.navbar__icon {
  background-color: #fff;
  display: inline-block;
  width: 30px;
  height: 2.5px;
  border-radius: 20px;
}
