.filter__container {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 70%;
  max-width: 300px;
  height: calc(100vh - 60px);
  padding: 5rem 0.5rem 0 1rem;
  background-color: #d2dae2;
  border-bottom: 1px solid #ccc;
  z-index: 99;
  opacity: 0;
  translate: -100%;
  visibility: hidden;
  @media screen and (min-width: 768px) {
    display: flex;
    position: relative;
    opacity: 1;
    translate: 0;
    visibility: visible;
  }
}

.filter__container_show {
  opacity: 1;
  translate: 0;
  visibility: visible;
  transition-property: visibility, opacity, translate;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
.filter__items {
  font-size: 1.2rem;
  cursor: pointer;
  text-transform: uppercase;
  padding: 0.5rem 0;
  color: rgb(52, 51, 51);
  border: 1px solid transparent;
  &:hover {
    border-bottom: 1px solid rgb(50, 47, 47);
  }
}

.filter__items_active {
  border-bottom: 1px solid rgb(50, 47, 47);
}
